name: 'panoptic'
data_split: 'trainval'
data_split_dir: 'training'
has_labels: True

cluster_split: 'train',
classes: ['Pedestrian']
num_clusters: [1]
bev_source: 'lidar'

panoptic_utils_config {
    # In our dataset, everything is measured in meters.
    # area_extents: [-40, 40, -5, 3, 0, 70] # For Kitti
    area_extents: [-3.99, 3.99, -5, 3, 0, 6.995] # For Panoptic
    voxel_size: 0.01  # 0.1 in meters
    anchor_strides: [0.5, 0.5]

    bev_generator {
        slices {
            height_lo: -5.0  # This is in camera frame(y-axis)
            height_hi: 2.300  # This is in camera frame(y-axis)
            num_slices: 1
        }
    }

    mini_batch_config {
        density_threshold: 1

        rpn_config {
            iou_2d_thresholds {
                neg_iou_lo: 0.0
                neg_iou_hi: 0.300
                pos_iou_lo: 0.450
                pos_iou_hi: 1.000
            }
            # iou_3d_thresholds {
            #     neg_iou_lo: 0.0
            #     neg_iou_hi: 0.100
            #     pos_iou_lo: 0.300
            #     pos_iou_hi: 1.000
            # }

            mini_batch_size: 512
        }

        avod_config {
            iou_2d_thresholds {
                neg_iou_lo: 0.00
                neg_iou_hi: 0.450
                pos_iou_lo: 0.550
                pos_iou_hi: 1.000
            }

            mini_batch_size: 1024
        }
    }
}
